<footer class ="footer">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="heading1">Contact Us</h6>
                <p><i class="fas fa-home me-3"></i> <a href="https://goo.gl/maps/yfjsqgTvZw45NqEo6"> IIT Hyderabad</a> </p>
                <p>
                  <i class="fas fa-envelope me-3"></i> <a href="mailto:mallikarjuna.c@admin.iith.ac.in"> mallikarjuna.c@admin.iith.ac.in </a>
                </p>
                <p><i  class="fas fa-phone me-3"></i> <a href="tel:040-23016750"> 040-23016750</a></p>
                <p><i  class="fas fa-print me-3"></i><a href="#"> + 01 234 567 89 </a></p>
              </div>

              <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="heading2">
                  Useful links
                </h6>
                <p>
                  <a href="https://library.iith.ac.in/" >IITH library</a>
                </p>
                <p>
                  <a href="https://raiith.iith.ac.in/" >Eprints RAIITH</a>
                </p>
                <p>
                  <a href="https://identity.iith.ac.in/" >Remote Access</a>
                </p>
                <p>
                  <a href="https://www.iith.ac.in/">IITH </a>
                </p>
              </div>
          <!-- <div class="col-md-4 text-center">
            <h5>Contact Us</h5>
            <p>For more information, please contact us at:</p>
            <p><a href="tel:1234567890">123-456-7890</a></p>
            <p><a href="mailto:info@example.com">info@example.com</a></p>
          </div> -->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="heading3">Opening hours</h5>
    
            <table class="table text-center text-blue">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - sat:</td>
                  <td>9am - 5:30pm</td>
                </tr>
                <tr>
                  <td>sunday</td>
                  <td>holiday</td>
                </tr>
              </tbody>
            </table>
          </div>          
        </div>
      </div>  
</footer>