.ds-context-help-toggle {
  // color: var(--ds-header-icon-color);
  color: #c7d2d6;
  background-color: var(--ds-header-bg);

  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}
