.dropdown-toggle::after {
  display:none;
}

.dropdown-toggle {
  // color: var(--ds-header-icon-color);
  color: #c7d2d6;

  &:hover, &:focus {
    // color: var(--ds-header-icon-color-hover);
    color: #859398;
  }
}
