<head>
  <style>
      /* CSS style to increase text size */
      .larger-text {
          font-size: 20px; /* You can adjust the value to increase or decrease text size */
          /* font-weight: bo; */
      }
  </style>
</head>

<!-- <ds-themed-home-news></ds-themed-home-news> -->
<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <!-- <p class="larger-text">This repository contains digital assets including  conference papers, technical reports, peer-reviewed articles, preprints, theses, images, 
    data sets, and other research-related works of Indian Institute of Technology Hyderabad(IITH) </p> -->
    <p class="header1"> RAIITH is a digital repository for IITH research, 
      including conference papers, technical reports, theses, images, 
      and other research-related works.</p>
  <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
  <ds-top-level-community-list></ds-top-level-community-list>
  <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>
</div>
