nav.navbar {
  // border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  // border-bottom: 5px var(--ds-header-navbar-border-bottom-color) solid;
  // border: 2px solid rgb(17, 7, 131);
  align-items: baseline;
  color: var(--ds-header-icon-color);
  //background-color: #e5eaec;
  background-color: #093a72;
  // border-bottom: 4px solid blueviolet;
 
}

#collapsingNav{
  position: relative;
  left: -150px;
  font-size: 1.25em;
  color: #c7d2d6;

}

.navbar-collapsed{
  position: relative;
  font-size: 1.25em;
  left: -50px;
  color: #c7d2d6 !important;
  // background-color:#c7d2d6 ;
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
  .navbar {
    width: 100%;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    > .navbar-inner-container {
      padding: 0 var(--bs-spacer);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
  height: 80px;
}

a.navbar-brand img {
  // max-height: var(--ds-header-logo-height);
  position: relative;
  // left: 00px;
  // text-align: right;
  // margin: auto;
  width: 250px;
  height: 100px;
  left: -150px;
}
// .navbar-brand
// {
//   width: 100%; 
// }

.navbar-nav {
  ::ng-deep a.nav-link {
    //color: var(--ds-navbar-link-color);
    color: #c7d2d6;;
    // color:#093a72
    
  }
  ::ng-deep a.nav-link:hover {
    color: var(--ds-navbar-link-color-hover);
    color: #859398;
  }
}
